<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carbonylgroup.schoolpower">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    flag = FLAG_TRANSLUCENT_STATUS

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Design">

        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Design"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:configChanges="locale|orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            android:theme="@style/Design">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/DesignActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

        </activity>

        <service
            android:name=".service.PullDataJob"
            android:label="Fetch student&apos;s data"
            android:permission="android.permission.BIND_JOB_SERVICE" />

    </application>

</manifest>